*.env
*.dbenv
*.dbenv.py
dist
build
*.exe
__pycache__
.ipynb_checkpoints   
*.tsv
06_machine_learning/data/
.joblib
*.keras
model
models
*.jpg
*.csv
국회.ipynb
08_AI_Serving/extracted_files/
extracted_files/
Data/
공모전/
네이버분석전/
네이버분석후/
업종정보/
네이버재분석/
네이버재분석결과/
핀테크서비스프로젝트/db_data/