.box {
    /* 박스 높이랑 라인 헤이트 맞춰주면 세로 중앙 정렬이 된다 */
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: beige;
}

.red-box{
    background-color: red;
}
.green-box{
    background-color: green;
}
.blue-box{
    background-color: blue;
}

/* position은 요소를 임의로 배치하는 위치속성 */
/* 
static 기본 흐름- 만들어진 순서에 맞춰서 
relative 요소의 기본 흐름에 따라 배치, 좌표 속성 사용 가능
absolute 웹브라우저의 절대 좌표이용
fixed 위치고정
sticky 위치고정이랑 비슷한데, 지정한 좌표의 임계점에 이르면 위치고정
 */


/* relative #요소의 왼쪽 위 모서리가 기준점
top : 위쪽을 기준으로 좌표 지정
right : 오른쪽을 기준으로 좌표 지정
bottom : 아랫쪽을 기준으로 좌표 지정
left : 왼쪽을 기준으로 좌표지정
*/

.green-box {
    position: relative;
    left: 100px;
    top: 100px;

}

.green-box2 {
    background-color: green;

}


body{
    margin: 0;
}
/* absolute
웹브라우저의 왼쪽 위 모서리가 기준점 */
.green-box2{
    position: absolute;
    left: 100px;
    top: 100px;
    /* top에따라 달라짐 확인 */
}

/* fixed : 그냥은 차이 안나는데, 움직이면(스크롤) 확인 가능 */
.blue-box {
    position: fixed;
    left: 200px;
}

/* sticky :일정 값 도달하면 멈춤*/
.box.red-box.box2 {
    position: sticky;
    top: 100px;
}

/* z-index :겹치는 경우 위 아래(위치)를 결정해 줌 */

.box.blue-box.box2 {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9;
}
.box.red-box.box {
    position: relative;
    z-index: 10;
    /* z는 깊이를 이야기 하는 것이기에 숫자가 높을수록 앞으로 나온다 */
}

/* float으로 글에 이미지 끼워 넣기 */
.float img {
    float: left;
    margin-right: 1rem;
}


/* 블록요소를 인라인 요소처럼 배치하기 */
.red-box3{
    color: white;
    background-color: red;
    float: left;
    /* float을 사용하면 가능- 내용 길이만큼 줄어서 인라인 요소처럼 배치된다 */
}

.blue-box3{
    color: white;
    background-color: blue;
    float: left;
}






