#bookname {
    text-shadow: 2px;
    font-size: xx-large;
}

.title{
    color: rgb(41, 200, 228); 
    text-align:center;
}

.odd {
    color: rgb(218, 116, 187);
    text-align: left;

}

.even {
    color: rgb(226, 128, 128);
    text-align: right;
}

.test1{
    background-color: aquamarine;
}


/* css는 선택자 {     선택자는 태그명, class명, id명
스타일 속성1: 값; 스타일 속성2: 값; 스타일 속성3: 값;
} */